.professor{
    text-align: center;
}

@keyframes rotateBackground{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#Background1, #Background2{
    animation: rotateBackground 3s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes bounce{
    from{
        transform: rotateX(0deg)
    }
    to{
        transform: rotateX(30deg);
    }
}

#Board{
    animation: bounce 3s ease infinite alternate;
    transform-origin: bottom;
}

@keyframes moveArm{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-10px);
    }
}

#Shrug{
    animation: moveArm 2s alternate infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes moveHead{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(10px);
    }
}

#Head{
    animation: moveHead 2s alternate infinite;
    transform-origin: center;
    transform-box: fill-box;
}